<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcqzwy.member.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.zcqzwy.member.domain.Member">
    <!--@mbg.generated-->
    <!--@Table train_member.`member`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from train_member.`member`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from train_member.`member`
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zcqzwy.member.domain.Member">
    <!--@mbg.generated-->
    insert into train_member.`member` (id, mobile)
    values (#{id,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zcqzwy.member.domain.Member">
    <!--@mbg.generated-->
    insert into train_member.`member`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobile != null and mobile != ''">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobile != null and mobile != ''">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcqzwy.member.domain.Member">
    <!--@mbg.generated-->
    update train_member.`member`
    <set>
      <if test="mobile != null and mobile != ''">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcqzwy.member.domain.Member">
    <!--@mbg.generated-->
    update train_member.`member`
    set mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="count" resultType="int">
    select count(1) from train_member.member
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-24-->
  <select id="selectAllByMobile" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_member.`member`
    where mobile=#{mobile,jdbcType=VARCHAR}
  </select>
</mapper>