<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcqzwy.member.mapper.PassengerMapper">
  <resultMap id="BaseResultMap" type="com.zcqzwy.member.domain.Passenger">
    <!--@mbg.generated-->
    <!--@Table train_member.passenger-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, member_id, `name`, id_card, `type`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from train_member.passenger
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from train_member.passenger
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zcqzwy.member.domain.Passenger">
    <!--@mbg.generated-->
    insert into train_member.passenger (id, member_id, `name`, 
      id_card, `type`, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zcqzwy.member.domain.Passenger">
    <!--@mbg.generated-->
    insert into train_member.passenger
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="idCard != null and idCard != ''">
        id_card,
      </if>
      <if test="type != null and type != ''">
        `type`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null and idCard != ''">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type != ''">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcqzwy.member.domain.Passenger">
    <!--@mbg.generated-->
    update train_member.passenger
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null and idCard != ''">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="type != null and type != ''">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcqzwy.member.domain.Passenger">
    <!--@mbg.generated-->
    update train_member.passenger
    set member_id = #{memberId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_member.passenger
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="memberId != null">
        and member_id=#{memberId,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="idCard != null and idCard != ''">
        and id_card=#{idCard,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type != ''">
        and `type`=#{type,jdbcType=CHAR}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>