<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcqzwy.business.mapper.StationMapper">
  <resultMap id="BaseResultMap" type="com.zcqzwy.business.domain.Station">
    <!--@mbg.generated-->
    <!--@Table train_business.station-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_pinyin" jdbcType="VARCHAR" property="namePinyin" />
    <result column="name_py" jdbcType="VARCHAR" property="namePy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, name_pinyin, name_py, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from train_business.station
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from train_business.station
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zcqzwy.business.domain.Station">
    <!--@mbg.generated-->
    insert into train_business.station (id, `name`, name_pinyin, 
      name_py, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{namePinyin,jdbcType=VARCHAR}, 
      #{namePy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zcqzwy.business.domain.Station">
    <!--@mbg.generated-->
    insert into train_business.station
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null and name != ''">
        `name`,
      </if>
      <if test="namePinyin != null and namePinyin != ''">
        name_pinyin,
      </if>
      <if test="namePy != null and namePy != ''">
        name_py,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePinyin != null and namePinyin != ''">
        #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="namePy != null and namePy != ''">
        #{namePy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcqzwy.business.domain.Station">
    <!--@mbg.generated-->
    update train_business.station
    <set>
      <if test="name != null and name != ''">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="namePinyin != null and namePinyin != ''">
        name_pinyin = #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="namePy != null and namePy != ''">
        name_py = #{namePy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcqzwy.business.domain.Station">
    <!--@mbg.generated-->
    update train_business.station
    set `name` = #{name,jdbcType=VARCHAR},
      name_pinyin = #{namePinyin,jdbcType=VARCHAR},
      name_py = #{namePy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectByAllOrderByNamePy" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.station
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="namePinyin != null and namePinyin != ''">
        and name_pinyin=#{namePinyin,jdbcType=VARCHAR}
      </if>
      <if test="namePy != null and namePy != ''">
        and name_py=#{namePy,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by name_py asc
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectAllOrderByNamePinyin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.station order by name_pinyin asc
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectAllByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.station
    <where>
      <if test="name != null and name != ''">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectallOrderByIdDesc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.station order by id desc
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-25-->
  <select id="selectByAllOrderByIdDesc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.station
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="name != null and name != ''">
        and `name`=#{name,jdbcType=VARCHAR}
      </if>
      <if test="namePinyin != null and namePinyin != ''">
        and name_pinyin=#{namePinyin,jdbcType=VARCHAR}
      </if>
      <if test="namePy != null and namePy != ''">
        and name_py=#{namePy,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by id desc
  </select>
</mapper>