<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcqzwy.business.mapper.TrainCarriageMapper">
  <resultMap id="BaseResultMap" type="com.zcqzwy.business.domain.TrainCarriage">
    <!--@mbg.generated-->
    <!--@Table train_business.train_carriage-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="train_code" jdbcType="VARCHAR" property="trainCode" />
    <result column="index" jdbcType="INTEGER" property="index" />
    <result column="seat_type" jdbcType="CHAR" property="seatType" />
    <result column="seat_count" jdbcType="INTEGER" property="seatCount" />
    <result column="row_count" jdbcType="INTEGER" property="rowCount" />
    <result column="col_count" jdbcType="INTEGER" property="colCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, train_code, `index`, seat_type, seat_count, `row_count`, col_count, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from train_business.train_carriage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from train_business.train_carriage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zcqzwy.business.domain.TrainCarriage">
    <!--@mbg.generated-->
    insert into train_business.train_carriage (id, train_code, `index`, 
      seat_type, seat_count, `row_count`, 
      col_count, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{trainCode,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, 
      #{seatType,jdbcType=CHAR}, #{seatCount,jdbcType=INTEGER}, #{rowCount,jdbcType=INTEGER}, 
      #{colCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zcqzwy.business.domain.TrainCarriage">
    <!--@mbg.generated-->
    insert into train_business.train_carriage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="trainCode != null and trainCode != ''">
        train_code,
      </if>
      <if test="index != null">
        `index`,
      </if>
      <if test="seatType != null and seatType != ''">
        seat_type,
      </if>
      <if test="seatCount != null">
        seat_count,
      </if>
      <if test="rowCount != null">
        `row_count`,
      </if>
      <if test="colCount != null">
        col_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="trainCode != null and trainCode != ''">
        #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=INTEGER},
      </if>
      <if test="seatType != null and seatType != ''">
        #{seatType,jdbcType=CHAR},
      </if>
      <if test="seatCount != null">
        #{seatCount,jdbcType=INTEGER},
      </if>
      <if test="rowCount != null">
        #{rowCount,jdbcType=INTEGER},
      </if>
      <if test="colCount != null">
        #{colCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zcqzwy.business.domain.TrainCarriage">
    <!--@mbg.generated-->
    update train_business.train_carriage
    <set>
      <if test="trainCode != null and trainCode != ''">
        train_code = #{trainCode,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        `index` = #{index,jdbcType=INTEGER},
      </if>
      <if test="seatType != null and seatType != ''">
        seat_type = #{seatType,jdbcType=CHAR},
      </if>
      <if test="seatCount != null">
        seat_count = #{seatCount,jdbcType=INTEGER},
      </if>
      <if test="rowCount != null">
        `row_count` = #{rowCount,jdbcType=INTEGER},
      </if>
      <if test="colCount != null">
        col_count = #{colCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zcqzwy.business.domain.TrainCarriage">
    <!--@mbg.generated-->
    update train_business.train_carriage
    set train_code = #{trainCode,jdbcType=VARCHAR},
      `index` = #{index,jdbcType=INTEGER},
      seat_type = #{seatType,jdbcType=CHAR},
      seat_count = #{seatCount,jdbcType=INTEGER},
      `row_count` = #{rowCount,jdbcType=INTEGER},
      col_count = #{colCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2026-02-26-->
  <select id="selectByTrainCodeAndIndex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.train_carriage
    where train_code=#{trainCode,jdbcType=VARCHAR} and `index`=#{index,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-26-->
  <select id="selectbyallOrderByTrainCodeAndIndex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.train_carriage
    <where>
      <if test="id != null">
        and id=#{id,jdbcType=BIGINT}
      </if>
      <if test="trainCode != null and trainCode != ''">
        and train_code=#{trainCode,jdbcType=VARCHAR}
      </if>
      <if test="index != null">
        and `index`=#{index,jdbcType=INTEGER}
      </if>
      <if test="seatType != null and seatType != ''">
        and seat_type=#{seatType,jdbcType=CHAR}
      </if>
      <if test="seatCount != null">
        and seat_count=#{seatCount,jdbcType=INTEGER}
      </if>
      <if test="rowCount != null">
        and `row_count`=#{rowCount,jdbcType=INTEGER}
      </if>
      <if test="colCount != null">
        and col_count=#{colCount,jdbcType=INTEGER}
      </if>
      <if test="createTime != null">
        and create_time=#{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null">
        and update_time=#{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
    order by train_code asc, `index` asc
  </select>

<!--auto generated by MybatisCodeHelper on 2026-02-26-->
  <select id="selectByTrainCodeOrderByIndex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from train_business.train_carriage
    <where>
      <if test="trainCode != null and trainCode != ''">
        and train_code=#{trainCode,jdbcType=VARCHAR}
      </if>
    </where>
    order by `index` asc
  </select>
</mapper>